{% extends "base.html" %}
{% block title %}
Conduct Polygraph
{% endblock %}

{% block content %}
<h2 class="mb-3">Conduct Polygraph</h2>

<main role="main" class="container">

    <div id="users" class="form-group mb-4">
        <label for="user" class="col-form-label mb-2">New User:</label>
        <input type="text" id="user" name="user" class="form-control mt-2 mr-2">

        <div class="form-group mb-2">
            <button id="add-user" class="btn btn-success mr-2 mb-4" onclick="addUser()">Add User</button>
            <button id="delete-user" class="btn btn-danger mr-2 mb-4" onclick="delUser()">Delete User</button>
        </div>

        <label for="select-user" class="col-form-label mb-2">Select user:</label>
        <select id="select-user" class="custom-select mb-4">
            <option id="default-user" value="0" selected>Open this select menu</option>
            {% for user_id, user_data in users.items() %}
              <option id="user-{{ user_id }}" value="{{ user_id }}">{{ user_data['name'] }}</option>
            {% endfor %}
        </select>

        <input type="hidden" id="user-id" name="user-id" value="0">
    </div>

    <div id="tests" class="form-group mb-4">
        <input type="hidden" id="test-active" name="test-active" value="0">
        <input type="hidden" id="test-id" name="test-id" value="0">

        <!-- Test controls -->
        <div class="form-group mb-2">
            <button id="add-test" class="btn btn-success mr-2 mb-4" onclick="addTest()">Add Test</button>
            <button id="activate-test" class="btn btn-primary mr-2 mb-4" onclick="activateTest()">Activate Test</button>
            <button id="complete-test" class="btn btn-warning mr-2 mb-4" onclick="completeTest()">Complete Test</button>
            <button id="delete-test" class="btn btn-danger mr-2 mb-4" onclick="delTest()">Delete Test</button>
        </div>

        <label for="select-test">Select Test:</label>
        <select id="select-test" class="custom-select mb-4">
            <option id="default-test" value="0" selected>Open this select menu</option>
            {%  for test_id, test_data in tests.items() %}
                <option id="test-{{ test_id }}" value="{{ test_id }}">{{ test_data['name'] + " - " + test_data['date'] }}</option>
            {% endfor %}
        </select>
    </div>


    <div id="test-question" class="form-group mb-4">
        <label for="question" class="col-form-label">Question:</label>
        <input type="text" id="question" name="question" class="form-control mt-2 mr-2">
        <input type="hidden" id="question-id" name="question-id" value="0">
        <input type="hidden" id="reading-active" name="reading-active" value="0">

        <div class="form-group mb-2">
            <button id="add-question" class="btn btn-success mr-2 mb-4" onclick="addQuestion()">Add Question</button>
            <button id="activate-question" class="btn btn-primary mr-2 mb-4" onclick="activateQuestion()">Activate Question</button>
            <button id="reset-question" class="btn btn-warning mr-2 mb-4" onclick="resetQuestion()">Reset Question</button>
            <button id="delete-question" class="btn btn-danger mr-2 mb-4" onclick="delQuestion()">Delete Question</button>
        </div>

        <label for="select-test">Select Question:</label>
        <select id="select-question" class="custom-select mb-4">
            <option id="default-question" value="0" selected>Open this select menu</option>
            {%  for question_id, question_data in questions.items() %}
                <option id="test-{{ question_data['test_id'] }}-question-{{ question_id }}" value="{{ question_id }}">{{ question_data['question_text'] }} - {{ "Pass" if question_data['pass'] else "Fail" }}</option>
            {% endfor %}
        </select>

        <button id="question-pass" class="btn btn-success mr-2 mb-4" onclick="questionPass()">Pass</button>
        <button id="question-fail" class="btn btn-danger mr-2 mb-4" onclick="questionFail()">Fail</button>
    </div>

    <div id="reading-controls" class="form-group mb-4">
        <!-- Controls to start/stop test readings -->
        <button id="start-reading" class="btn btn-success mr-2 mb-4" onclick="startTestReadings()">Start Readings</button>
        <button id="stop-reading" class="btn btn-danger mr-2 mb-4" onclick="stopTestReadings()">Stop Readings</button>
        <button id="view-reading" class="btn btn-warning mr-2 mb-4" onclick="viewQuestionReading()">View Question Reading</button>
    </div>

    <div id="graphs" class="form-group mb-4">
        <canvas class="mt-10" id="gsr-chart"></canvas>
        <canvas class="mt-10" id="hr-chart"></canvas>
        <canvas class="mt-10" id="spo2-chart"></canvas>
    </div>

    <div id="readings" class="form-group mb-4">

        <table id="gsr-readings" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>GSR_ID</th>
                    <th>Question_ID</th>
                    <th>Reading (resistance, μS)</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody id="gsr-tbody"></tbody>
        </table>

        <table id="hr-readings" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>HR_ID</th>
                    <th>Question_ID</th>
                    <th>Reading (BPM)</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody id="hr-tbody"></tbody>
        </table>

        <table id="spo2-readings" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>SPO2_ID</th>
                    <th>Question_ID</th>
                    <th>Reading (resistance, μS)</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody id="spo2-tbody"></tbody>
        </table>
    </div>

</main>


<script src="/static/js/data_displays.js"></script>
<script src="/static/js/test_controls.js"></script>
<script>hideQuestions();</script>

{% endblock %}