{% extends "base.html" %}
{% block title %}
Past Tests
{% endblock %}

{% block content %}
<h2 class="mb-3">Past Tests</h2>

<main role="main" class="container">

    <div id="users" class="form-group mb-4">
        <label for="select-user" class="col-form-label mb-2">Select user:</label>
        <select id="select-user" class="custom-select mb-4">
            <option id="default-user" value="0" selected>Open this select menu</option>
            {% for user_id, user_data in users.items() %}
              <option id="user-{{ user_id }}" value="{{ user_id }}">{{ user_data['name'] }}</option>
            {% endfor %}
        </select>

        <input type="hidden" id="user-id" name="user-id" value="0">
        <div class="mb-2">
            <button id="filter-tests" class="btn btn-primary mr-2 mb-4" onclick="filterTests()">Filter Tests for User</button>
            <button id="remove-filter" class="btn btn-danger mr-2 mb-4" onclick="removeFilter()">Remove Test Filter</button>
        </div>
    </div>

    <div id="tests" class="form-group mb-4">
        <input type="hidden" id="test-active" name="test-active" value="0">
        <input type="hidden" id="test-id" name="test-id" value="0">

        <!-- Activate a test -->
        <div class="mb-2">
            <button id="activate-test" class="btn btn-primary mr-2 mb-4" onclick="viewTest()">View Test</button>
            <button id="delete-test" class="btn btn-danger mr-2 mb-4" onclick="delPastTest()">Delete Selected Test</button>
        </div>


        <label for="select-test">Select Test:</label>
        <select id="select-test" class="custom-select mb-4">
            <option id="default-test" value="0" selected>Open this select menu</option>
            {%  for test_id, test_data in tests.items() %}
                <option id="test-{{ test_id }}" name="user-{{ test_data['user_id'] }}-tests" value="{{ test_id }}">{{ test_data['name'] + " - " + test_data['date'] }}</option>
            {% endfor %}
        </select>
    </div>


    <div id="test-question" class="form-group mb-4">
        <input type="hidden" id="question-id" name="question-id" value="0">
        <input type="hidden" id="reading-active" name="reading-active" value="0">

        <label for="select-question">Select Question:</label>
        <select id="select-question" class="custom-select mb-4">
            <option id="default-question" value="0" selected>Open this select menu</option>
            {%  for question_id, question_data in questions.items() %}
                <option id="test-{{ question_data['test_id'] }}-question-{{ question_id }}" value="{{ question_id }}">{{ question_data['question_text'] }} - {{ "Pass" if question_data['pass'] else "Fail" }}</option>
            {% endfor %}
        </select>

        <div class="mb-2">
            <!-- Button to view a question's reading -->
            <button id="view-reading" class="btn btn-warning mr-2 mb-4" onclick="viewHistoricalQuestionReading()">View Question Reading</button>
        </div>

    </div>


    <div id="graphs" class="form-group mb-4">
        <canvas class="mt-10" id="gsr-chart"></canvas>
        <canvas class="mt-10" id="hr-chart"></canvas>
        <canvas class="mt-10" id="spo2-chart"></canvas>
    </div>

    <div id="readings" class="form-group mb-4">

        <table id="gsr-readings" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>GSR_ID</th>
                    <th>Question_ID</th>
                    <th>Reading (resistance, μS)</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody id="gsr-tbody"></tbody>
        </table>

        <table id="hr-readings" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>HR_ID</th>
                    <th>Question_ID</th>
                    <th>Reading (BPM)</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody id="hr-tbody"></tbody>
        </table>

        <table id="spo2-readings" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>SPO2_ID</th>
                    <th>Question_ID</th>
                    <th>Reading (resistance, μS)</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody id="spo2-tbody"></tbody>
        </table>
    </div>

</main>


<script src="/static/js/data_displays.js"></script>
<script src="/static/js/test_controls.js"></script>
<script>hideQuestions();</script>

{% endblock %}